*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.image-style {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.button {
  display: block;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FB565A;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* index - стили главной страницы */

/* main-header - стили общего header */

.main-header {
  background-color: #EEEEEE;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 114px;
}

.header-logo {
  display: block;
  margin-right: 198px;
}

.header-logo-image:hover {
  fill: #FB565A;
}

.header-logo-image:active {
  fill: #A6A6A6;
}

.header-navigation {
  margin-right: auto;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation-item:not(:last-child) {
  margin-right: 28px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 8px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.header-cart {
  background-image: url("../images/icon/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: left 8px top 14px;
}

.header-cart-link {
  margin-right: -8px;
  padding-left: 48px;
}

.navigation-link:hover,
.header-cart-link:hover {
  color: #FB565A;
}

.navigation-item:focus-within,
.header-cart:focus-within {
  z-index: 1;
}

.navigation-link:active,
.header-cart-link:active {
  color: #000000;
  opacity: 0.3;
}

.navigation-link-active::after {
  position: absolute;
  right: 8px;
  bottom: 0;
  left: 8px;
  content: "";
  height: 2px;
  background-color: #FB565A;
}

/* slide - стили основного слайдера */

.slide-section {
  margin-bottom: 82px;
  background-color: #EEEEEE;
}

.slide-container {
  position: relative;
}

.slide-item {
  padding: 78px 0;
  background-repeat: no-repeat;
  background-position: center right 4px;
  background-size: contain;
}

.slide-item:nth-child(1) {
  background-image: url("../images/slider/slide-1.png");
}

.slide-item:nth-child(2) {
  background-image: url("../images/slider/slide-2.png");
}

.slide-item:nth-child(3) {
  background-image: url("../images/slider/slide-3.png");
}

.slide-description {
  display: flex;
  flex-direction: column;
  width: 538px;
}

.slide-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slide-text {
  margin: 0;
  margin-bottom: 40px;
}

.slide-button {
  width: 240px;
  padding: 16px 54px;
}

.slide-button:hover {
  background-color: #E74246;
}

.slide-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #D7373B;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* slide-pagination - навигация по слайдеру */

.slide-pagination {
  position: absolute;
  bottom: 94px;
  left: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 88px;
  transform: translateX(-50%);
}

.slide-pagination-button {
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slide-pagination-button:hover {
  background-color: #DFDFDF;
}

.slide-pagination-button:active {
  background-color: #D5D5D5;
}

.pagination-button-active {
  background-image: url("../images/icon/slide-control.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* product - стили продуктов студии */

.product-section {
  margin-bottom: 80px;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: 300px;
  padding-top: 170px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.product-item:nth-child(1) {
  background-image: url("../images/icon/illustration-1.jpg");
}

.product-item:nth-child(2) {
  background-image: url("../images/icon/illustration-2.jpg");
}

.product-item:nth-child(3) {
  background-image: url("../images/icon/illustration-3.jpg");
}

.product-item:not(:last-child) {
  margin-right: 100px;
}

.product-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.product-slogan {
  margin: 0;
  margin-bottom: 32px;
}

.product-button {
  width: 160px;
  padding: 16px 40px;
}

.product-button:hover {
  background-color: #E74246;
}

.product-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #D7373B;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.product-button-green {
  background-color: #00CA74;
}

.product-button-green:hover {
  background-color: #00BC6C;
}

.product-button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00AA62;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.product-button-yellow {
  background-color: #EFC849;
}

.product-button-yellow:hover {
  background-color: #EAB534;
}

.product-button-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #EAB534;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* about - стили раздела о компании */

.about-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.about-section::before {
  position: absolute;
  top: 0;
  right: 1px;
  left: 1px;
  content: "";
  height: 2px;
  background-color: #EEEEEE;
}

.about-column:first-of-type {
  width: 652px;
  padding-top: 77px;
}

.about-column:last-of-type {
  width: 360px;
  padding-top: 42px;
}

.about-slogan {
  margin: 0;
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-text {
  margin: 0;
  margin-bottom: 40px;
}

.about-title {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-prodict-item {
  position: relative;
  padding-left: 36px;
}

.about-prodict-item:not(:last-child) {
  margin-bottom: 24px;
}

.about-prodict-item::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #FB565A;
}

.about-logo {
  margin-bottom: 37px;
}

.about-column:last-child .about-title {
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
}

.about-advantages {
  display: flex;
  flex-wrap: wrap;
}

.about-advantages-column {
  display: flex;
  flex-direction: column-reverse;
  max-width: 110px;
}

.about-advantages-column:not(:last-child) {
  margin-right: 10px;
}

.advantage-property {
  line-height: 18px;
}

.advantage-value {
  margin: 0;
  margin-bottom: 12px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: #000000;
}

.advantage-value sup {
  font-size: 26px;
  line-height: 40px;
}

/* partner - стили секции с партнерами */

.partner-section {
  position: relative;
  margin-bottom: 80px;
}

.partner-section::before,
.partner-section::after {
  position: absolute;
  left: 1px;
  right: 1px;
  content: "";
  height: 2px;
  background-color: #EEEEEE;
}

.partner-section::before {
  top: 0;
}

.partner-section::after {
  bottom: 0;
}

.partner {
  display: grid;
  grid-template-columns: 280px 300px 300px 280px;
  grid-template-rows: 184px;
  justify-items: center;
  align-items: center;
}

.partner-item {
  position: relative;
}

.partner-item:not(:last-child)::before {
  position: absolute;
  top: 50%;
  right: -44px;
  content: "";
  width: 2px;
  height: 52px;
  background-color: #EEEEEE;
  transform: translateY(-50%);
}

.partner-link {
  display: block;
}

.partner-image {
  opacity: 0.2;
}

.partner-image:hover {
  opacity: 1;
}

.partner-image:active {
  opacity: 0.1;
}

/* main-footer - стили общего footer */

/* map - стили карты и контактов */

.main-footer {
  margin: 0 auto;
}

.map-section {
  position: relative;
}

.map-section::after {
  position: absolute;
  top: 84px;
  right: 388px;
  content: "";
  width: 231px;
  height: 190px;
  background-image: url("../images/icon/map-marker.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.map-contacts {
  position: absolute;
  top: 50%;
  left: 140px;
  width: 320px;
  height: 308px;
  padding: 48px 50px 48px;
  background-color: #FFFFFF;
  transform: translateY(-50%);
}

.contacts-title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.contacts-address {
  margin: 0;
  margin-bottom: 18px;
  line-height: 18px;
  color: #666666;
}

.contacts-telephone {
  display: block;
  margin: 0;
  margin-bottom: 38px;
  line-height: 18px;
  text-decoration: none;
  color: #666666;
}

.contacts-telephone:hover {
  color: #000000;
}

.contacts-telephone:active {
  color: #D5D5D5;
}

.contacts-button {
  width: 220px;
  padding: 16px 44px;
}

.contacts-button:hover {
  background-color: #E74246;
}

.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #D7373B;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

/* social - стили для блока социальных сетей */

.social-section {
  display: grid;
  grid-template-columns: 350px 660px;
  align-items: center;
  column-gap: 50px;
  min-height: 218px;
  padding: 68px 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  background-color: #E1E1E1;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #E74246;
}

.social-button:active {
  background-color: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active .social-icon {
  opacity: 0.3;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-promo-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-promo-text {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

/* catalog - стили страницы каталога */

.catalog-header-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.cost-label {
  line-height: 22px;
  text-transform: uppercase;
}

.cost-input {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283136;
}

.filter-label span {
  line-height: 19px;
}

.sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sort-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.sort-button-active {
  opacity: 1;
}

.catalog-link {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.catalog-title {
  font-size: 18px;
  line-height: 30px;
}

.catalog-text {
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.pagination-link {
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
